<?xml version="1.0" encoding="utf-8"?>
<!--
     Designed and developed by 2024 mshdabiola (lawal abiola)

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<resources>
    <string name="rail_state_expanded">Laajennettu</string>
    <string name="rail_state_collapsed">Kutistettu</string>
    <string name="rail_action_collapse">Kutista palkki</string>
    <string name="rail_action_expand">Laajenna palkki</string>
    <string name="brand_content_description">Brändi</string>
    <string name="add_content_description">Lisää</string>
    <string name="fab_add_note_text">Lisää muistiinpano</string>

    <string name="modules_designsystem_create_new_label">Luo uusi tunniste</string>
    <string name="modules_designsystem_labels">Tunnisteet</string>
    <string name="modules_designsystem_edit">Muokkaa</string>
    <string name="modules_designsystem_list">Luettelo</string>
    <string name="modules_designsystem_image">Kuva</string>
    <string name="modules_designsystem_voice">Ääni</string>
    <string name="modules_designsystem_drawing">Piirros</string>
    <string-array name="route">
        <item>Muistiinpanot</item>
        <item>Muistutukset</item>
        <item>Arkisto</item>
        <item>Roskakori</item>
        <item>Asetukset</item>
    </string-array>
</resources>
