<?xml version="1.0" encoding="utf-8"?>
<!--
     Designed and developed by 2024 mshdabiola (lawal abiola)

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<resources>
    <string name="rail_state_expanded">Rozwinięte</string>
    <string name="rail_state_collapsed">Zwinięte</string>
    <string name="rail_action_collapse">Zwiń szynę</string>
    <string name="rail_action_expand">Rozwiń szynę</string>
    <string name="brand_content_description">Marka</string>
    <string name="add_content_description">Dodaj</string>
    <string name="fab_add_note_text">Dodaj Notatkę</string>

    <string name="modules_designsystem_create_new_label">Utwórz nową etykietę</string>
    <string name="modules_designsystem_labels">Etykiety</string>
    <string name="modules_designsystem_edit">Edytuj</string>
    <string name="modules_designsystem_list">Lista</string>
    <string name="modules_designsystem_image">Obraz</string>
    <string name="modules_designsystem_voice">Głos</string>
    <string name="modules_designsystem_drawing">Rysunek</string>
    <string-array name="route">
        <item>Notatki</item>
        <item>Przypomnienia</item>
        <item>Archiwum</item>
        <item>Kosz</item>
        <item>Ustawienia</item>
    </string-array>
</resources>
